openapi: 3.0.3
info:
  title: RescueBite API
  description: |
    Real-time food waste recovery marketplace for Almaty, Kazakhstan.
    Features dynamic price decay, allergen-safe filtering, flash auctions,
    driver route optimization, and geofence delivery completion.
  version: 1.0.0
  contact:
    name: RescueBite Backend Team

servers:
  - url: https://api.rescuebite.kz/v1
    description: Production
  - url: http://localhost:3000/v1
    description: Local development

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
         JWT access token. Obtain via POST /auth/login.
         Include as Authorization: Bearer <token>

  parameters:
    cursorParam:
      name: cursor
      in: query
      description: Opaque cursor string from previous response for keyset pagination
      schema:
        type: string
    limitParam:
      name: limit
      in: query
      description: Number of items per page (max 50)
      schema:
        type: integer
        default: 20
        maximum: 50
    sortParam:
      name: sort
      in: query
      description: Sort field with optional - prefix for descending (e.g. -created_at, current_price)
      schema:
        type: string
        default: "-created_at"

  schemas:
    # ── Auth ──────────────────────────────────────────────────────────────────
    RegisterRequest:
      type: object
      required: [email, password, name, role]
      properties:
        email:
          type: string
          format: email
          example: asel.nurova@gmail.com
        password:
          type: string
          minLength: 8
          example: SecurePass123!
        name:
          type: string
          example: Asel Nurova
        role:
          type: string
          enum: [CONSUMER, RESTAURANT, SHELTER, DRIVER]
          example: CONSUMER
        allergens:
          type: array
          description: Required if role=CONSUMER. Must include NONE explicitly if no allergies.
          items:
            $ref: '#/components/schemas/Allergen'
          example: [GLUTEN, DAIRY]

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
          example: asel.nurova@gmail.com
        password:
          type: string
          example: SecurePass123!

    AuthResponse:
      type: object
      properties:
        accessToken:
          type: string
          description: JWT valid for 15 minutes
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        refreshToken:
          type: string
          description: Opaque token valid for 7 days (stored in Redis)
          example: rt_a9f2c3d4e5f6...
        user:
          $ref: '#/components/schemas/UserPublic'

    UserPublic:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
        email:
          type: string
          example: asel.nurova@gmail.com
        name:
          type: string
          example: Asel Nurova
        role:
          type: string
          enum: [CONSUMER, RESTAURANT, SHELTER, DRIVER, ADMIN]
        allergens:
          type: array
          items:
            $ref: '#/components/schemas/Allergen'
        createdAt:
          type: string
          format: date-time

    # ── Enums ─────────────────────────────────────────────────────────────────
    Allergen:
      type: string
      enum: [GLUTEN, DAIRY, NUTS, SHELLFISH, EGGS, SOY, NONE]

    DecayState:
      type: string
      enum: [FRESH, DISCOUNTED, FREE, COMPOST]

    OrderStatus:
      type: string
      enum: [PENDING, CONFIRMED, DRIVER_ASSIGNED, IN_TRANSIT, DELIVERED, CANCELLED, REFUNDED]

    # ── Listings ──────────────────────────────────────────────────────────────
    ListingCreate:
      type: object
      required: [title, description, ingredients, initialPrice, quantity, expiryAt, pickupWindowStart, pickupWindowEnd]
      properties:
        title:
          type: string
          example: Oven-roasted lamb shank (3 portions)
        description:
          type: string
          example: Prepared at 18:00, fresh from the oven, best before midnight
        ingredients:
          type: array
          items:
            type: string
          example: [lamb, rosemary, garlic, olive oil, salt, pepper]
        initialPrice:
          type: number
          format: decimal
          minimum: 500
          example: 4500
          description: Price in KZT (minimum 500)
        quantity:
          type: integer
          minimum: 1
          example: 3
        expiryAt:
          type: string
          format: date-time
          example: "2024-11-15T23:59:00Z"
        pickupWindowStart:
          type: string
          format: date-time
          example: "2024-11-15T21:00:00Z"
        pickupWindowEnd:
          type: string
          format: date-time
          example: "2024-11-15T23:30:00Z"
        photoUrl:
          type: string
          format: uri
          example: https://cdn.rescuebite.kz/photos/listing_abc.jpg

    ListingResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        ingredients:
          type: array
          items:
            type: string
        allergens:
          type: array
          items:
            $ref: '#/components/schemas/Allergen'
        initialPrice:
          type: number
        currentPrice:
          type: number
          description: Auto-calculated by decay engine
        discountPct:
          type: number
          description: Current discount percentage (0, 50, or 100)
        quantity:
          type: integer
        availableQty:
          type: integer
        decayState:
          $ref: '#/components/schemas/DecayState'
        expiryAt:
          type: string
          format: date-time
        auctionMode:
          type: boolean
          description: True when in last-30-minute flash auction phase
        restaurant:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            lat:
              type: number
            lng:
              type: number
            rating:
              type: number
        photoUrl:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ListingPage:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ListingResponse'
        nextCursor:
          type: string
          nullable: true
          description: Pass as ?cursor= in next request. Null means no more pages.
        total:
          type: integer
          description: Total matching count (approximate for performance)

    # ── Orders ────────────────────────────────────────────────────────────────
    OrderCreate:
      type: object
      required: [items]
      properties:
        items:
          type: array
          minItems: 1
          items:
            type: object
            required: [listingId, quantity]
            properties:
              listingId:
                type: string
                format: uuid
              quantity:
                type: integer
                minimum: 1
        shelterId:
          type: string
          format: uuid
          description: Required only for SHELTER role orders

    OrderResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          $ref: '#/components/schemas/OrderStatus'
        totalAmount:
          type: number
        kaspiPayUrl:
          type: string
          format: uri
          description: Redirect user here to complete Kaspi Pay payment
          example: https://pay.kaspi.kz/intent/abc123
        items:
          type: array
          items:
            type: object
            properties:
              listingId:
                type: string
              title:
                type: string
              quantity:
                type: integer
              unitPrice:
                type: number
        createdAt:
          type: string
          format: date-time

    # ── Auction ───────────────────────────────────────────────────────────────
    AuctionBidCreate:
      type: object
      required: [feeOffer]
      properties:
        feeOffer:
          type: number
          minimum: 0
          description: KZT amount consumer is willing to pay as pickup fee (reverse auction - lower is better)
          example: 150

    AuctionBidResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        listingId:
          type: string
        feeOffer:
          type: number
        isWinner:
          type: boolean
        auctionClosesAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    # ── Driver ────────────────────────────────────────────────────────────────
    LocationUpdate:
      type: object
      required: [lat, lng]
      properties:
        lat:
          type: number
          format: double
          minimum: -90
          maximum: 90
          example: 43.2220
        lng:
          type: number
          format: double
          minimum: -180
          maximum: 180
          example: 76.8512

    DriverRouteResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [PENDING, IN_PROGRESS, COMPLETED]
        stops:
          type: array
          items:
            type: object
            properties:
              restaurantId:
                type: string
              restaurantName:
                type: string
              lat:
                type: number
              lng:
                type: number
              orderId:
                type: string
              estimatedArrival:
                type: string
                format: date-time
              status:
                type: string
                enum: [PENDING, ARRIVED, PICKED_UP]
        totalDistanceKm:
          type: number
        estimatedDurationMin:
          type: integer

    # ── Errors ────────────────────────────────────────────────────────────────
    Error400:
      type: object
      properties:
        error:
          type: string
          example: BAD_REQUEST
        message:
          type: string
          example: Invalid request body
        details:
          type: array
          items:
            type: string
          example: ["email must be a valid email address"]

    Error401:
      type: object
      properties:
        error:
          type: string
          example: UNAUTHORIZED
        message:
          type: string
          example: Missing or invalid Bearer token

    Error403:
      type: object
      properties:
        error:
          type: string
          example: FORBIDDEN
        message:
          type: string
          example: "Insufficient role. Required: RESTAURANT"

    Error404:
      type: object
      properties:
        error:
          type: string
          example: NOT_FOUND
        message:
          type: string
          example: Listing not found

    Error409:
      type: object
      properties:
        error:
          type: string
          example: CONFLICT
        code:
          type: string
          enum: [ALLERGEN_CONFLICT, INSUFFICIENT_QUANTITY, LISTING_EXPIRED, DUPLICATE_BID]
        message:
          type: string
          example: "Allergen conflict: listing contains GLUTEN which matches your allergy profile"

    Error422:
      type: object
      properties:
        error:
          type: string
          example: UNPROCESSABLE_ENTITY
        message:
          type: string
          example: Validation failed
        fields:
          type: object
          additionalProperties:
            type: string
          example:
            initialPrice: "Must be at least 500 KZT"
            expiryAt: "Must be in the future"

    Error500:
      type: object
      properties:
        error:
          type: string
          example: INTERNAL_SERVER_ERROR
        message:
          type: string
          example: An unexpected error occurred. Request ID logged.
        requestId:
          type: string
          example: req_7f3a2b1c

# ── Paths ─────────────────────────────────────────────────────────────────────
paths:

  # ── AUTH ──────────────────────────────────────────────────────────────────
  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new user
      security: []
      description: Creates a new user account. Allergens required if role=CONSUMER (must explicitly include NONE if no allergies).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '409':
          description: Email already registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409'
        '422':
          description: Validation errors (missing allergens for CONSUMER, weak password, etc.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error422'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'

  /auth/login:
    post:
      tags: [Auth]
      summary: Login and receive tokens
      security: []
      description: Rate limited to 10 requests/minute per IP (Redis token bucket).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '422':
          description: Invalid email format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error422'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
                  example: rt_a9f2c3d4e5f6...
      responses:
        '200':
          description: New access token issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
        '401':
          description: Invalid or expired refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'

  /auth/logout:
    post:
      tags: [Auth]
      summary: Revoke refresh token
      responses:
        '204':
          description: Logged out successfully (refresh token removed from Redis)
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'

  # ── LISTINGS ──────────────────────────────────────────────────────────────
  /listings:
    get:
      tags: [Listings]
      summary: Browse allergen-safe listings near me
      description: |
        Returns active listings filtered by decay state, allergen safety, and distance.
        Automatically excludes listings with allergens matching the authenticated consumer's profile.
        Cursor-based keyset pagination on current_price ASC.
        Rate limited: 100 req/min for authenticated, 20 req/min for guests.
      security: []
      parameters:
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/sortParam'
        - name: lat
          in: query
          required: true
          schema:
            type: number
          example: 43.2220
        - name: lng
          in: query
          required: true
          schema:
            type: number
          example: 76.8512
        - name: radius_km
          in: query
          schema:
            type: number
            default: 5
            maximum: 50
          example: 10
        - name: decay_state
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/DecayState'
          style: form
          explode: false
          example: FRESH,DISCOUNTED
        - name: max_price
          in: query
          schema:
            type: number
          example: 3000
        - name: allergen_safe
          in: query
          description: If true and user is authenticated, filters out listings conflicting with user's allergen profile
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Paginated listing results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingPage'
        '400':
          description: Missing lat/lng parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '422':
          description: Invalid query parameter values
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error422'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'

    post:
      tags: [Listings]
      summary: Create a new food listing
      description: Restaurant owners only. Restaurant must be verified=true.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListingCreate'
      responses:
        '201':
          description: Listing created. Decay engine will pick it up within 15 minutes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingResponse'
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '403':
          description: Forbidden — requires RESTAURANT role with verified=true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        '422':
          description: Validation error (price below 500 KZT, expiryAt in past, etc.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error422'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'

  /listings/{id}:
    get:
      tags: [Listings]
      summary: Get listing detail
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Listing with real-time price and allergen info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: Listing not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'

    delete:
      tags: [Listings]
      summary: Cancel a listing (soft-delete)
      description: Restaurant owner only. Only allowed if decay_state=FRESH and no confirmed orders exist.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Listing cancelled
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        '404':
          description: Listing not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '409':
          description: Cannot cancel — listing has active orders or is not FRESH
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'

  # ── ORDERS ────────────────────────────────────────────────────────────────
  /orders:
    get:
      tags: [Orders]
      summary: Get my order history
      parameters:
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/sortParam'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/OrderStatus'
      responses:
        '200':
          description: Paginated order list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrderResponse'
                  nextCursor:
                    type: string
                    nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'

    post:
      tags: [Orders]
      summary: Place an order
      description: |
        CONSUMER or SHELTER role. Backend validates:
        1. Allergen conflict check (blocks with 409 ALLERGEN_CONFLICT if any match)
        2. Available quantity check
        3. Listing not expired
        4. Atomically reserves inventory in a Prisma transaction
        Returns Kaspi Pay redirect URL.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreate'
      responses:
        '201':
          description: Order created, payment pending
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '403':
          description: Forbidden — requires CONSUMER or SHELTER role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        '404':
          description: One or more listings not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '409':
          description: Allergen conflict, insufficient quantity, or listing expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error422'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'

  /orders/{id}:
    get:
      tags: [Orders]
      summary: Get order detail
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Order detail with current status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'

  /orders/{id}/refund:
    post:
      tags: [Orders]
      summary: Request a refund
      description: Must be requested within 1 hour of delivery. ALLERGEN_MISMATCH reason triggers admin review flag.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                  enum: [WRONG_ITEMS, ALLERGEN_MISMATCH, NOT_DELIVERED]
      responses:
        '200':
          description: Refund initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Refund initiated. Kaspi Pay reversal expected within 24 hours.
        '400':
          description: Invalid reason or refund window expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '409':
          description: Order already refunded or not in DELIVERED state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'

  # ── AUCTIONS ──────────────────────────────────────────────────────────────
  /listings/{id}/bids:
    post:
      tags: [Auctions]
      summary: Submit flash auction bid (reverse auction)
      description: |
        CONSUMER role only. Available only when listing.auctionMode=true.
        Reverse auction: lowest fee_offer wins pickup rights.
        One bid per user per listing; duplicate bid returns 409.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuctionBidCreate'
      responses:
        '201':
          description: Bid submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionBidResponse'
        '400':
          description: Invalid bid amount
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '403':
          description: Listing not in auction mode
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        '404':
          description: Listing not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '409':
          description: User already bid on this listing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409'
        '422':
          description: Negative bid amount
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error422'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'

    get:
      tags: [Auctions]
      summary: Get current bids for a listing (admin/restaurant only)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: List of bids sorted by fee_offer ASC
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuctionBidResponse'
                  nextCursor:
                    type: string
                    nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        '404':
          description: Listing not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'

  # ── DRIVERS ───────────────────────────────────────────────────────────────
  /drivers/routes:
    get:
      tags: [Drivers]
      summary: Get available route assignments
      description: DRIVER role only. Returns batched pickup routes within driver's coverage zone.
      parameters:
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: Available routes
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DriverRouteResponse'
                  nextCursor:
                    type: string
                    nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'

  /drivers/routes/{routeId}/accept:
    post:
      tags: [Drivers]
      summary: Accept a route assignment
      parameters:
        - name: routeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Route accepted, status changed to IN_PROGRESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriverRouteResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: Route not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '409':
          description: Route already accepted by another driver
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'

  /deliveries/{id}/location:
    patch:
      tags: [Drivers]
      summary: Update driver GPS location (triggers geofence check)
      description: |
        Driver sends location every 30 seconds.
        If distance to shelter <= 100m AND order is IN_TRANSIT, auto-completes delivery.
      parameters:
        - name: id
          in: path
          required: true
          description: Delivery ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationUpdate'
      responses:
        '200':
          description: Location updated. If geofenced, delivery auto-completed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  deliveryCompleted:
                    type: boolean
                  distanceToShelterM:
                    type: number
                    description: Current Haversine distance in meters
        '400':
          description: Invalid coordinates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: Delivery not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'

  # ── ADMIN ─────────────────────────────────────────────────────────────────
  /admin/users:
    get:
      tags: [Admin]
      summary: List all users
      description: ADMIN role only.
      parameters:
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/sortParam'
        - name: role
          in: query
          schema:
            type: string
            enum: [CONSUMER, RESTAURANT, SHELTER, DRIVER, ADMIN]
        - name: is_banned
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Paginated user list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserPublic'
                  nextCursor:
                    type: string
                    nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'

  /admin/users/{id}/ban:
    post:
      tags: [Admin]
      summary: Ban a user
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                  minLength: 10
                  example: Repeated allergen fraud reports confirmed by admin review
      responses:
        '200':
          description: User banned. Audit log entry created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User banned successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'

  /admin/listings/{id}/decay-override:
    patch:
      tags: [Admin]
      summary: Manually override listing decay state
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decayState]
              properties:
                decayState:
                  $ref: '#/components/schemas/DecayState'
                reason:
                  type: string
                  example: Food safety inspection required immediate downgrade
      responses:
        '200':
          description: Decay state overridden. Audit log entry created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        '404':
          description: Listing not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '422':
          description: Invalid decay state value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error422'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'

  /admin/audit-logs:
    get:
      tags: [Admin]
      summary: Export audit logs
      description: ADMIN role only. Returns append-only audit trail.
      parameters:
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
        - name: action
          in: query
          schema:
            type: string
            enum: [USER_CREATED, USER_BANNED, LISTING_CREATED, LISTING_CANCELLED, DECAY_TRANSITION, ORDER_PLACED, ORDER_REFUNDED, AUCTION_RESOLVED, ADMIN_OVERRIDE]
        - name: entity_type
          in: query
          schema:
            type: string
            example: Listing
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Audit log entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        actorId:
                          type: string
                          nullable: true
                        action:
                          type: string
                        entityType:
                          type: string
                        entityId:
                          type: string
                        metadata:
                          type: object
                          nullable: true
                        createdAt:
                          type: string
                          format: date-time
                  nextCursor:
                    type: string
                    nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'

  # ── WEBHOOKS ──────────────────────────────────────────────────────────────
  /webhooks/kaspi-pay:
    post:
      tags: [Webhooks]
      summary: Kaspi Pay payment confirmation webhook
      security: []
      description: |
        Receives payment confirmation from Kaspi Pay.
        Validates HMAC-SHA256 signature using KASPI_PAY_WEBHOOK_SECRET.
        On success: confirms order, assigns to driver pool.
        On failure (after 5 min): releases reserved inventory.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                event:
                  type: string
                  enum: [payment.success, payment.failed]
                orderId:
                  type: string
                kaspiRef:
                  type: string
                amount:
                  type: number
                signature:
                  type: string
                  description: HMAC-SHA256 of payload using KASPI_PAY_WEBHOOK_SECRET
      responses:
        '200':
          description: Webhook processed
        '400':
          description: Invalid signature or malformed payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'

tags:
  - name: Auth
    description: Authentication and token management
  - name: Listings
    description: Food listing CRUD and browsing
  - name: Orders
    description: Order placement, tracking, and refunds
  - name: Auctions
    description: Flash auction bidding (last 30 minutes)
  - name: Drivers
    description: Driver routes, location updates, and geofence
  - name: Admin
    description: Admin oversight, bans, overrides, and audit logs
  - name: Webhooks
    description: External service callbacks (Kaspi Pay)
